rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;   // public read for MVP (adjust later)
      allow write: if false; // disable writes for now
    }
  }
}
